/* bismillah */
*{
    margin: 0;
    padding: 0;

}
/* banner styles */
body{
    background:#011a36;

}
header{
    background-image:url(images/banner/banner3.png);
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner{
    text-align: justify;
    padding: 215px 230px 365px 1145px;
}
.banner-title{
    font-family: algerian;
    font-size: 55px;
    color: coral;
    font-weight: lighter;
    text-align: left;

}
.banner-description{
    margin: 10px 25px 20px 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);


}
.banner-button{
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #022f6b;
    color: coral;
   
}
/* islamic styles */
.islamic{
    display: flex;
    gap: 300px;
    margin-left: 400px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 400px;

}


.islamic .islamic-title{
    font-family: algerian;
    color: coral;
    margin-bottom: 20px;
    font-weight: lighter;

}
.islamic .islamic-list{
    list-style: none;
    color: aqua;
    margin-top: 20px;

}
.islamic-list ul li{
    font-size: 14px;
    padding-right: 10px;
}
.islamic-list ul li::before{
    content:'✓';
    margin-right: 10px;
      
}
.islamic .islamic-description{
    color: aliceblue;
    padding-right: 50px;
    text-align: justify;
    font-size: 16px;

}

/* plan styles */
.plans{
    text-align: center;
}
.plan-header{
    padding-bottom: 10px; 
    padding-top: 10px;
    font-family:Colonna MT; 
    color: coral;
    font-size: 22px;
    background-color: rgb(0, 32, 68);
    margin-left: 845px;
    margin-right: 845px;
    margin-bottom: 80px;
    border-radius: 5px;
    border: none;
}
.plan-list{
    display: inline-block;

}
.plan-title{
    color:  aqua;
    margin:10px 30px;
    font-size: 25px;

}
.plan-description{
    color:coral;
    font-size: 20px;
}
/* background image and gredient */
.bgi{

    height: 260px;
    margin: 150px 400px;
    border-radius: 6px;
    background-image:linear-gradient(90deg, #057ddf 0%, #005fac00 100%),url('images/watch.png');
    
}  

  

.bgi-title{
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    color: aqua;
}
.bgi-button{
    margin-left: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color:#022f6b;
    color:coral ;
}
/* footer styles */
footer{
    display: flex;
    height: 400px;
    background:linear-gradient(to top, #057ddf 0%, rgba(0, 95, 172, 0) 100%);
    text-align:justify; 
    gap: 200px;

}
.footer-container{
    margin-left: 420px;
    padding-right: 200px;
    padding-top: 90px;
}
.footer-title{
    font-size: 30px;
    color: coral;
}
.footer-description{
    color: aqua;
}
.Subscribe{
    padding-right: 400px;
    padding-top: 90px;
}
.sub-title{
    color: coral;
    font-size: 30px;
    padding-bottom: 20px;

}
.Subscribe .input{
    background-color: #021230;
    color:aqua;
    padding-top:19px ;
    padding-left: 10px;
    padding-bottom: 19px;
    padding-right: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.Subscribe-button{

    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #021230;
    color: coral;
   
}